
.header {
    display: flex;
    padding: 6px 10px;
    background-color: #000;
}
.header .logo {
    display: inline-block;
    padding: 6px 0;
}
.header .logo img {
    width: 80px;
    height: 40px;
}
.header nav {
    text-align: right;
    width: 100%;
    font-size: 0;
}
.header nav a {
    display: inline-block;
    color: burlywood;
    line-height: 52px;
    font-size: 16px;
    text-decoration: none;
    padding: 0px 6px;
}
.header nav a:hover {
    background-color:yellow;
}
.fade {
    transition: opacity 0.125s linear;
}
.main {
    width: 100%;
    height: 100vh;
}
.main a {
    text-decoration: none;
    color:rgba(0,0,0,0.79);
}
.main a:hover {
    color: #FFA042;
}
.main .marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 0px;
}
.main .marquee span {
    display: inline-block;
    padding-left: 100%; 
    color: red;
    font-size: 16px;
    font-weight: bold;
    animation: marquee 20s linear infinite, neon-shine 2s linear infinite;
}
@keyframes neon-shine{
    0%{opacity:1;}
    17%{color:#ff9900;}
    34%{color:#fff700;}
    51%{color:#1eff00;}
    68%{color:#00f7ff;}
    75%{color:#0d00ff;}
    100%{color:#8c00ff;}
}
/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.main .content {
    background-color: #FFFFB9;
}
.content .nav-tabs .nav-link.active {
    background-color: #FFDC35;
}
.container-fluid {
    padding: 0px;
}
.container-fluid .carousel-item img,
.drink > .col-4 img {
    width: 100%;
    vertical-align: middle;
}
.tab-content {
    padding-top: 20px;
}
.footer {
    background-color: #BBFFBB;
    padding-top:30px;
}
.footer h3 {
    border-bottom: 1px dotted #000;
    padding-bottom: 20px;
}
.footer ul {
    padding: 0px;
}
ul li {
    list-style-type: none;
    margin: 20px 0;
}
.copyright {
    background-color: #28FF28;
}
table tr td:nth-child(2){
    padding-left: 20px;
}
